.cabecalho{
    background-color: var(--branco);
    padding: 0.5em 0;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.cabecalho__lista-menu{
    display: flex;
    justify-content: space-around;
}

.lista-menu__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    text-decoration: none;
    background-color: var(--azul);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    
}

.lista-menu__texto{
    font-size: 20px;
    color: var(--branco);
    font-weight: 700;
    margin-top: 0.3em;
}

.cabecalho__imagem{
    width: 23px;
}

@media screen and (min-width: 768px){
    
}
